.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: x-large;
  color: #252627;
}
.search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.search-img {
  width: 10%;
}
.card-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 48px;
}
